fastapi
uvicorn[standard]
python-dotenv
pydantic
langchain
langchain-google-genai
sqlalchemy
psycopg2-binary
boto3
pydantic-settings
pymongo

presidio-analyzer
presidio-anonymizer
spacy
pandas


pymysql
pre-commit
